@font-face {
  font-family: "TTLakes";
  font-weight: 700;
  src: url(fonts/TTLakes-Bold.woff);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTLakes";
  font-weight: 400;
  src: url(fonts/TTLakes-Regular.woff);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTLakes";
  font-weight: 500;
  src: url(fonts/TTLakes-Medium.woff);
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin: 0;
  font-family: "TTLakes";
  background-color: #f8f8f8;
}
.center {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
header {
  background-color: #ffffff;
  border-bottom: 1px solid #d9fff5;
}

.menu-button-list {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  margin: 0px;
  align-items: center;
}
.menu-button-box {
  display: flex;
  width: 50%;
  align-items: center;
  flex-wrap: nowrap;
}

.user-set {
  text-align: right;
  width: 70%;
  padding-left: 10px;
  padding-right: 10px;
  flex-wrap: nowrap;
}
.border-right {
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 10px;
}
.border-left {
  padding-left: 20px;
  padding-right: 15px;
}

.user-status {
  width: 15%;
  margin: 0;
  padding: 0;
}

.user-status__list {
  margin-left: 5px;
}

.user-set__list {
  margin-left: 5px;
}
.list {
  padding: 5px;
  white-space: nowrap;
  margin: 0;
  margin-bottom: 30px;
}

.main-box {
  padding-top: 10px;
  height: 100vh;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #f8f8f8;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}

button.list {
  font-family: TTlakes;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #7e7e82;
  width: 246px;
  height: 40px;
  border: none;
  background-color: #f8f8f8;
  cursor: pointer;
}

button.list.active {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  width: 246px;
  height: 40px;
  background: #fff;
}

.heading {
  font-size: 30px;
}

.heading::before {
  content: "ff";
  color: #41f6d7;
  display: block;
  background-color: #41f6d7;
  position: absolute;
  margin-left: -45px;
  border-radius: 10px;
}
.main-box__heading-line {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.heading-line-item {
  display: none;
}

.main-box__heading-line a {
  margin: 5px;
}

.submit-link {
  color: black;
  text-decoration: none;
}

.repair-status-link {
  color: black;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.heading {
  margin-right: auto;
}

.detailed-information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.detailed-information__text {
  position: relative;
  padding: 0;
  margin: 0;
  flex: 1;
}

.detailed-information__img {
  width: 50%;
  height: 50%;
  padding: 0;
  margin: 0;
  object-fit: contain;
}

.text {
  font-family: "TTlakes";
  min-width: 50%;
  max-height: 30vh;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
}

.scroll {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  font-weight: 500;
  font-family: "TTlakes";
  cursor: pointer;
}

.scroll__img {
  max-width: 5%;
  order: -1;
}

@media (max-width: 700px) {
  .detailed-information {
    flex-wrap: wrap;
  }
}

@media (max-width: 530px) {
  .detailed-information {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .call-button,
  .chat-button,
  .profile-button {
    display: none;
  }

  .user-status {
    width: 35%;
  }

  .user-set {
    width: 50%;
  }

  .detailed-information__img {
    align-self: center;
    width: 116%;
    height: 114%;
    padding: 0;
    margin: 0;
  }
  .text {
    max-height: 17vh;
  }

  .logo {
    margin: 0;
    padding-left: 20px;
  }
  .menu-list {
    overflow: scroll;
  }
  .user-set {
    justify-content: center;
  }
  .border-left {
    display: none;
  }
}

@media (min-width: 1120px) and (min-height: 535px) {
  .menu-button-list {
    display: none;
  }

  .heading-line-item {
    display: block;
  }
  .menu-list {
    overflow: hidden;
  }
  body {
    display: flex;
    justify-content: center;
  }
  .center {
    display: inline-block;
    max-width: 1120px;
  }
}
@media (max-width: 325px) {
  .user-set {
    width: 53%;
  }
}
